@page "/"
@using BlazorControls.Components.Shared
@rendermode InteractiveServer

<h3>Dashboard</h3>

<div class="chart-wrapper">
    <div class="home-checkboxlist">
        <CheckBoxList Data="@AllTaskLabels"
                      SelectedTexts="@CurrentTaskLabels"
                      SelectedValues="@SelectedTaskValues"
                      SelectedTextsChanged="OnColorNamesChanged"
                      SelectedValuesChanged="OnColorNameValuesChanged"
                      ExcludedTexts="@(new List<string> { "Completed","Blocked" })" />

        @* SelectedValues="@SelectedColors" 
                        SelectedValuesChanged="OnColorsChanged" 
                       SelectedTextsChanged="OnColorNamesChanged" *@
    </div>
    
    <!-- Donut Chart -->
    <div class="chart-container">
        <DonutChart Title="Tasks (Donut)"
                    InnerTitle="@CurrentTaskLabels!.Count().ToString()"
                    IsDonut="true"
                    Thickness="40"
                    Data="@pieData"
                    IncludeLabels="@CurrentTaskLabels"
                    StatusColors="@TaskColors"
                    OnSliceClick="HandleSliceClick"
                    OnCenterClick="HandleCenterClick"
                    ShowLegend="true" />      
    </div>

    <!-- Pie Chart -->
    <div class="chart-container">
        <DonutChart Title="Tasks (Piechart)"
                    InnerTitle="Tasks"
                    IsDonut="false"
                    Data="@pieData"
                    IncludeLabels="@CurrentTaskLabels"
                    StatusColors="@TaskColors"
                    OnSliceClick="HandleSliceClick"
                    ShowLegend="true" />


        <div class="filter-text">
            <strong>Filtered Tasks:</strong>
            @if (CurrentTaskLabels is not null)
            {
                <span>@string.Join(", ", CurrentTaskLabels.OrderBy(m=>m))</span>
            }
            else
            {
                <span>(none)</span>
            }
        </div>
    </div>

</div>
